<!DOCTYPE html>
<html>
<head>
  <title>No YouTube Channel</title>
</head>
<body>
  <h1>You need a YouTube channel to upload videos</h1>
  <p>Please create a YouTube channel first.</p>
  <a href="https://www.youtube.com/create_channel" target="_blank">Create YouTube Channel</a>
  <br>
  <a href="/profile">Back to Profile</a>
</body>
</html>
